@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
  }
  
  $red : #ec5242;
  $grey : #d3d3d3;
  $black : #272a31;
  $bg-gray-dark: #3c3f46;
  $box-shadow : 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

body{
    font-family: 'lato', sans-serif;
    overflow-x: hidden;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-heading{
    padding-top: 3rem;
    color: $grey;
    padding-bottom: 1rem;
    }

    .orange-border{
        width: 2.5rem;
        height: 1px;
        background-color: $red;
    }
}

.header{
    text-transform: capitalize;

    .nav-one{
        display: flex;
        justify-content: end;
        gap: 1.5rem;
        padding: .3rem;
        background-color: $bg-gray-dark;
        padding-right: 15rem;  

        a{
            color: $grey;
        }  
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 1rem 15rem 1rem 12rem;   

        .logo{
            display: flex;
            flex-direction: row;

            .logo-text{
                padding-left: .5rem;
                font-size: 2.5rem;
                color: $black;
            }
        }
        .fa-bars{
            display: none;
        }

        .nav-two{
            display: flex;
            align-items: center;
            gap: 3rem;
            color: $bg-gray-dark;

            a{
                color: $bg-gray-dark;
                font-size: 1rem;

                &:hover{
                    color: $red;
                    letter-spacing: .1rem;
                }
            }

            .box{
                border: 4px solid $red;
                margin-left: 3.5rem;
                font-size: 1.5rem;
                padding: .5rem;
                color: $red;
            }
        }

        .nav-mobile{
            display: none;
        }
    }
}

.home{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding:9rem 15rem 9rem 12rem;
    background-image:url(/images/1569663.jpg);
    background-size: cover;
    width: 100%;
    height: 88vh;

    .home-content{

        .greeting{
            font-size: 2.5rem;
            color: $red;
        }

        .title{
            font-family: 'lato' cocogoose;
            font-size: 5.2rem;
            font-weight: 900;
            line-height: 5rem;
            color: #99423799;
            background-image: url(/images/images.jpeg);
            background-size: contain;
            background-clip: text;  
        }

        .content-box{
            background-color: #f4f3f355;
            padding: .7rem;
            margin: 1.3rem 0 1.5rem 0;
            font-size: 1rem;
            color: #4d4d4d;
            border: 2px solid #fff;
            max-width: 45rem;
        }

        .venue-details{
            .date{
                font-size: 2rem;
                font-weight: 700;
                padding-bottom: .7rem;
            }

            .venue{
                font-size: 1.5rem;
            }
        }
    }    
}

.program{
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: start;

    .box-container{
        display: flex;
        flex-wrap: wrap;
        gap:.5rem; 
        justify-content: center;
        padding: 3.5rem 1.5rem 3.5rem 1.5rem;
        
        .box{
            background-color: $bg-gray-dark;
            color: white;
            text-align: center;
            width: 14.3rem;
            padding: 1.7rem;
            height: auto;
            padding-top: 2.5rem;

            img{
                height: 7rem;
                width: 7rem;
            }

            h5{
                color: $red;
                padding: 1rem 0 1rem 0;
                font-size: 1.2rem;
            }
        }
    }

    .heading-more{
        display: flex;
        justify-content: center;
        text-decoration: underline;
        color: $grey;
        padding-bottom: 3.5rem;
    }

    .invite{
        display: none;
    }
}

@media screen and (max-width:1250px){
    .header{
        .nav-one{
            padding-right: 10rem;
        }
        .navbar{
            padding: .5rem 10rem .5rem 7rem;

            .nav-two{
                gap: 2rem;

                .box{
                    font-size: 1.3rem;
                    margin-left: 2rem;
                }
            }
        }
    }
    .home{
        padding:9rem 10rem 9rem 7rem;
    }
    .program{
        .box-container{
            .box{
                height: auto;
                width: 11rem;

                img{
                    height: 6rem;
                    width: 6rem;
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    .header{
        .nav-one{
            padding-right: 5rem;
            gap: 1rem;
        }
        .navbar{
            padding: .5rem 5rem .5rem 3rem;

            .logo{
                align-items: center;

                .logo-text{
                    font-size: 1.7rem;
                }
            }
            .nav-two{
                gap: 1.7rem;

                .box{
                    font-size: 1.3rem;
                    margin-left: 1.7rem;
                }
            }
        }
    }

    .home{
        padding:9rem 7rem 9rem 3rem;

        .home-content{

            .greeting{
                font-size: 2rem;
            }

            .title{
                font-size: 4.5rem;
            }
        }    
    }
    .program{
        .box-container{
            .box{
                width: 8rem;
                height: auto;
                padding: 1.5rem;

                img{
                    height: 4rem;
                    width: 4rem;
                }

                h5{
                    font-size: 1rem;
                    padding: .7rem 0 .7rem 0;
                }

                p{
                    font-size: .8rem;
                }
            }
        }
    }
}


 @media screen and (max-width:768px) {
    .header{
        .nav-one{
            display: none;
        }
        .navbar{
            .logo{
                display: none;
            }
            
            .fa-bars{
                display: inline-block;
                position: absolute;
                top: 5%; left: 7%;
                font-size: 2.3rem;
                z-index: 1;
                color: $grey;
            }

            #btn.active{
                color: $red;
            }

            .nav-two{
                display: none;
            }
            .nav-mobile{
                position: fixed;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100vh;
                top: 0; left: -100%; right: 0;
                background-color: $bg-gray-dark;
                
                a{
                    color: $red;
                    font-size: 1.5rem;

                    &:hover{
                        color: $grey;
                        letter-spacing: .2rem;
                    }
                }
                .box{
                    border: none;
                    padding: 0;
                    margin: 0;

                    &:hover{
                        color: $grey;
                        letter-spacing: .2rem;
                    }
                }
            }

            .nav-mobile.active{
                left: 0;
            }
        }
    }
    .home{
        margin-top: -1rem;
        padding:11rem 1rem 9rem 3rem;
        
        .home-content{
            .greeting{
                font-size: 1.5rem;
            }

            .title{
                padding-top: 1rem;
                font-size: 3.2rem;
                line-height: 3.3rem;
            }
        }
    }
    .program{
        .heading-more{
            display: none;
        }

        .box-container{
            .box{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                width: 85%;
                height: auto;

                img{
                    height: 5rem;
                    width: 5rem;
                }

                h5{
                    font-size: 1rem;
                }

                p{
                    font-size: .8rem;
                }
            }
        }

        .invite{
            display: flex;
            justify-content: end;
            align-items: end;
            border: 1px solid red;
            padding: 1.2rem;
            font-size: 1.5rem;
            background-color: $red;
            color: $grey;
            margin-bottom: 3.5rem;
        }
    }
 }

 @media screen and (max-width:500px){
    .home{
        padding:10rem 1rem 9rem 1.5rem;

        .home-content{
            width: 100%;

            .title{
                font-size: 2.3rem;
                line-height: 3rem;
            }

            .venue-details{
                .date{
                    font-size: 1.5rem;
                }
                .venue{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .program{
        .box-container{
            .box{
                width: 100%;
            }
        }
    }
 }