@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  font-family: "lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

body {
  font-family: "lato", sans-serif;
  overflow-x: hidden;
  background-color: rgba(244, 243, 243, 0.4470588235);
  box-sizing: border-box;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading .title-heading {
  padding-top: 3rem;
  font-size: 1.5rem;
  color: #d3d3d3;
  padding-bottom: 1rem;
}
.heading .orange-border {
  width: 2.5rem;
  height: 1.3px;
  background-color: #ec5242;
}

.header {
  text-transform: capitalize;
}
.header .nav-one {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
  padding: 0.3rem;
  background-color: #3c3f46;
  padding-right: 15rem;
}
.header .nav-one a {
  color: #d3d3d3;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem 15rem 1rem 12rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.header .navbar .logo {
  display: flex;
  flex-direction: row;
}
.header .navbar .logo .logo-text {
  padding-left: 0.5rem;
  font-size: 2.5rem;
  color: #272a31;
}
.header .navbar .fa-bars {
  display: none;
}
.header .navbar .nav-two {
  display: flex;
  align-items: center;
  gap: 3rem;
  color: #3c3f46;
}
.header .navbar .nav-two a {
  color: #3c3f46;
  font-size: 1rem;
}
.header .navbar .nav-two a:hover {
  color: #ec5242;
  letter-spacing: 0.1rem;
}
.header .navbar .nav-two .box {
  border: 4px solid #ec5242;
  margin-left: 3.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #ec5242;
}
.header .navbar .nav-mobile {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 9rem 15rem 9rem 12rem;
  background-image: url(/images/1569663.jpg);
  background-size: cover;
  width: 100%;
  height: 88vh;
}
.home .home-content .greeting {
  font-size: 2.5rem;
  color: #ec5242;
}
.home .home-content .title {
  font-family: "lato" cocogoose;
  font-size: 5.2rem;
  font-weight: 900;
  line-height: 5rem;
  color: rgba(153, 66, 55, 0.6);
  background-image: url(/images/images.jpeg);
  background-size: contain;
  -webkit-background-clip: text;
          background-clip: text;
}
.home .home-content .content-box {
  background-color: rgba(244, 243, 243, 0.3333333333);
  padding: 0.7rem;
  margin: 1.3rem 0 1.5rem 0;
  font-size: 1rem;
  color: #4d4d4d;
  border: 2px solid #fff;
  max-width: 45rem;
}
.home .home-content .venue-details .date {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0.7rem;
}
.home .home-content .venue-details .venue {
  font-size: 1.5rem;
}

.program {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: start;
}
.program .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 3.5rem 1.5rem 3.5rem 1.5rem;
}
.program .box-container .box {
  background-color: #3c3f46;
  color: white;
  text-align: center;
  width: 14.3rem;
  padding: 1.7rem;
  height: auto;
  padding-top: 2.5rem;
}
.program .box-container .box img {
  height: 7rem;
  width: 7rem;
}
.program .box-container .box h5 {
  color: #ec5242;
  padding: 1rem 0 1rem 0;
  font-size: 1.2rem;
}
.program .heading-more {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: #d3d3d3;
  padding-bottom: 3.5rem;
}
.program .invite {
  display: none;
}

.artist .heading .title-heading {
  color: #272a31;
}
.artist .artist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  padding: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
}
.artist .artist-container .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.artist .artist-container .box .images {
  width: 13rem;
}
.artist .artist-container .box .images img {
  height: 12rem;
  width: 13rem;
}
.artist .artist-container .box .content {
  width: 23.7rem;
  padding: 0 1rem;
}
.artist .artist-container .box .content .name {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #272a31;
}
.artist .artist-container .box .content .about {
  font-style: italic;
  font-size: 1.1rem;
  color: #ec5242;
  padding: 0.5rem 0;
}
.artist .artist-container .box .content .grey-border {
  width: 2.5rem;
  height: 1.3px;
  background-color: #d3d3d3;
  margin: 0.4rem 0;
}
.artist .artist-container .box .content .desc {
  color: #272a31;
  font-size: 1.2rem;
}
.artist .btns {
  display: none;
}

.partner .partner-container {
  background-color: #3c3f46;
}
.partner .partner-container .partner-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  padding: 2rem;
  width: 100%;
}
.partner .partner-container .partner-logo img {
  height: 6rem;
  width: 7rem;
}
.partner .partner-container .partner-logo img:nth-child(1) {
  width: 10rem;
  height: 4rem;
}
.partner .partner-container .partner-logo img:nth-child(2) {
  width: 10rem;
  height: 5rem;
}

.footer .content {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer .content .footer-one {
  font-size: 1.7rem;
}
.footer .content .footer-two {
  font-size: 1.4rem;
}

@media screen and (max-width: 1260px) {
  .header .nav-one {
    padding-right: 10rem;
  }
  .header .navbar {
    padding: 0.5rem 10rem 0.5rem 7rem;
  }
  .header .navbar .nav-two {
    gap: 2rem;
  }
  .header .navbar .nav-two .box {
    font-size: 1.3rem;
    margin-left: 2rem;
  }
  .home {
    padding: 9rem 10rem 9rem 7rem;
  }
  .program .box-container .box {
    height: auto;
    width: 11rem;
  }
  .program .box-container .box img {
    height: 6rem;
    width: 6rem;
  }
  .artist .artist-container {
    padding: 1.5rem;
  }
  .artist .artist-container .box .images {
    width: 9rem;
  }
  .artist .artist-container .box .images img {
    height: 9rem;
    width: 9rem;
  }
  .artist .artist-container .box .content {
    width: 17.5rem;
  }
  .artist .artist-container .box .content .name {
    font-size: 1.3rem;
  }
  .artist .artist-container .box .content .about {
    font-size: 0.9rem;
  }
  .artist .artist-container .box .content .desc {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px) {
  .header .nav-one {
    padding-right: 5rem;
    gap: 1rem;
  }
  .header .navbar {
    padding: 0.5rem 5rem 0.5rem 3rem;
  }
  .header .navbar .logo {
    align-items: center;
  }
  .header .navbar .logo .logo-text {
    font-size: 1.7rem;
  }
  .header .navbar .nav-two {
    gap: 1.7rem;
  }
  .header .navbar .nav-two .box {
    font-size: 1.3rem;
    margin-left: 1.7rem;
  }
  .home {
    padding: 9rem 7rem 9rem 3rem;
  }
  .home .home-content .greeting {
    font-size: 2rem;
  }
  .home .home-content .title {
    font-size: 4.5rem;
  }
  .program .box-container .box {
    width: 8rem;
    height: auto;
    padding: 1.5rem;
  }
  .program .box-container .box img {
    height: 4rem;
    width: 4rem;
  }
  .program .box-container .box h5 {
    font-size: 1rem;
    padding: 0.7rem 0 0.7rem 0;
  }
  .program .box-container .box p {
    font-size: 0.8rem;
  }
  .artist .artist-container {
    padding: 1.3rem;
  }
  .artist .artist-container .box .images {
    width: 8rem;
  }
  .artist .artist-container .box .images img {
    height: 8rem;
    width: 8rem;
  }
  .artist .artist-container .box .content {
    width: 13rem;
  }
  .artist .artist-container .box .content .name {
    font-size: 1.2rem;
  }
  .artist .artist-container .box .content .about {
    font-size: 0.8rem;
  }
  .artist .artist-container .box .content .desc {
    font-size: 0.8rem;
  }
  .partner .partner-container .partner-logo {
    gap: 1rem;
  }
  .partner .partner-container .partner-logo img {
    height: 4.3rem;
    width: 5.3rem;
  }
  .partner .partner-container .partner-logo img:nth-child(1) {
    width: 8rem;
    height: 3rem;
  }
  .partner .partner-container .partner-logo img:nth-child(2) {
    width: 8rem;
    height: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .header .nav-one {
    display: none;
  }
  .header .navbar .logo {
    display: none;
  }
  .header .navbar .fa-bars {
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 7%;
    font-size: 2.3rem;
    z-index: 1;
    color: #d3d3d3;
  }
  .header .navbar #btn.active {
    color: #ec5242;
  }
  .header .navbar .nav-two {
    display: none;
  }
  .header .navbar .nav-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    right: 0;
    background-color: #3c3f46;
  }
  .header .navbar .nav-mobile a {
    color: #ec5242;
    font-size: 1.5rem;
  }
  .header .navbar .nav-mobile a:hover {
    color: #d3d3d3;
    letter-spacing: 0.2rem;
  }
  .header .navbar .nav-mobile .box {
    border: none;
    padding: 0;
    margin: 0;
  }
  .header .navbar .nav-mobile .box:hover {
    color: #d3d3d3;
    letter-spacing: 0.2rem;
  }
  .header .navbar .nav-mobile.active {
    left: 0;
  }
  .home {
    margin-top: -1rem;
    padding: 11rem 1rem 9rem 3rem;
  }
  .home .home-content .greeting {
    font-size: 1.5rem;
  }
  .home .home-content .title {
    padding-top: 1rem;
    font-size: 3.2rem;
    line-height: 3.3rem;
  }
  .program .heading-more {
    display: none;
  }
  .program .box-container .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 85%;
    height: auto;
  }
  .program .box-container .box img {
    height: 5rem;
    width: 5rem;
  }
  .program .box-container .box h5 {
    font-size: 1rem;
  }
  .program .box-container .box p {
    font-size: 0.8rem;
  }
  .program .invite {
    display: flex;
    justify-content: end;
    align-items: end;
    border: 1px solid red;
    padding: 1.2rem;
    font-size: 1.5rem;
    background-color: #ec5242;
    color: #d3d3d3;
    margin-bottom: 3.5rem;
  }
  .artist .artist-container .box {
    align-items: flex-start;
    width: 100%;
    display: none;
  }
  .artist .artist-container .box:nth-child(1), .artist .artist-container .box:nth-child(2) {
    display: flex;
  }
  .artist .artist-container .box .images {
    width: 11rem;
  }
  .artist .artist-container .box .images img {
    width: 11rem;
    height: 9rem;
  }
  .artist .artist-container .box .content {
    width: 15rem;
  }
  .artist .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5rem;
  }
  .artist .btns #load-more {
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 1rem;
    padding: 0.7rem;
    border: 1px solid #d3d3d3;
  }
  .artist .btns #load-more span {
    padding-left: 0.5rem;
    color: #ec5242;
  }
  .artist .btns #see-less {
    display: none;
    background: #fff;
    text-transform: capitalize;
    font-size: 1rem;
    text-decoration: underline;
    color: #ec5242;
  }
  .artist .btns #see-less:hover {
    color: #272a31;
    letter-spacing: 0.2rem;
  }
}
@media screen and (max-width: 500px) {
  .home {
    padding: 10rem 1rem 9rem 1.5rem;
  }
  .home .home-content {
    width: 100%;
  }
  .home .home-content .title {
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .home .home-content .venue-details .date {
    font-size: 1.5rem;
  }
  .home .home-content .venue-details .venue {
    font-size: 1.2rem;
  }
  .program .box-container .box {
    width: 100%;
  }
  .artist .artist-container .box {
    width: 100%;
    justify-content: center;
  }
  .artist .artist-container .box .images {
    width: 9rem;
  }
  .artist .artist-container .box .images img {
    /*    width: 9rem;
        height: 7rem;  */
    width: 100%;
    height: auto;
  }
  .artist .artist-container .box .content {
    width: 18rem;
    width: 53%;
    padding: 0 0.5rem;
    padding-right: 0;
  }
  .artist .artist-container .box .content .name {
    font-size: 1rem;
  }
  .artist .artist-container .box .content .about {
    font-size: 0.7rem;
    padding: 0.2rem 0;
  }
  .artist .artist-container .box .content .desc {
    font-size: 0.8rem;
  }
  .footer .content {
    gap: 1.5rem;
    justify-content: center;
  }
  .footer .content .footer-one {
    font-size: 1.3rem;
  }
  .footer .content .footer-two {
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=style.css.map */